@model Employee
@{
    ViewData["Title"] = "Create New Employee";
}
<div class="row">
    <div class="col-md-6 mr-auto ml-auto">
        <div class="card ">
            <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                    <h4 class="card-title">@ViewData["Title"]</h4>
                </div>
            </div>
            <div class="card-body ">
                <!--Start-->
                <form asp-action="Create">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="col-lg-10 col-md-6 col-sm-3">
                        <select asp-for="MainBoardId" class="selectpicker" data-size="7" data-style="btn btn-primary btn-round" title="Employee Name">
                            <option disabled selected>Nomes</option>
                            @foreach (var item in Model.MainBoards)
                            {
                                <option value="@item.Id">@item.Name @item.LastName - CPF: @item.CPF</option>
                            }
                        </select>
                        <span asp-validation-for="MainBoardId" class="text-danger"></span>
                    </div><br />
                          <div class="col-lg-10 col-md-6 col-sm-3">
                              <select asp-for="SectorId" class="selectpicker" data-size="7" data-style="btn btn-primary btn-round" title="Select Sector">
                                  <option disabled selected>Select Name</option>
                                  @foreach (var item in Model.Sectors)
                                  {
                                      <option value="@item.Id">@item.Department.Name - @item.Name </option>
                                  }
                              </select>
                              <span asp-validation-for="SectorId" class="text-danger"></span>
                          </div><br />
                    <div class="col-lg-5 col-md-6 col-sm-3">
                        <select asp-for="ScaleId" asp-items="@(new SelectList(Model.Scales, "Id", "Name"))" class="selectpicker" data-size="7" data-style="btn btn-primary btn-round" title="Scale Name">
                            <option selected value="">Scale Name</option>
                        </select>
                        <span asp-validation-for="ScaleId" class="text-danger"></span>
                    </div><br />
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="Admission"></label><br />
                            <div class="input-group-prepend col-md-7">
                                <i class="material-icons">av_timer</i>
                                <input asp-for="Admission" class="form-control" />
                            </div>
                            <span asp-validation-for="Admission" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="Resignation"></label><br />
                            <div class="input-group-prepend col-md-7">
                                <i class="material-icons">av_timer</i>
                                <input asp-for="Resignation" class="form-control" />
                            </div>
                            <span asp-validation-for="Resignation" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <hr />
                        <input type="submit" value="Create" class="btn btn-info" />
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary" data-dismiss="modal">Back to List</a>
                    </div>
                </form>
                <!--End-->
            </div>
        </div>
    </div>
</div>