@model ImportDataFormViewModel
@{
    ViewData["Title"] = "Import Data";
}
<div class="row">
    <div class="col-md-6 mr-auto ml-auto">
        <div class="card ">
            <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                    <h4 class="card-title">@ViewData["Title"]</h4>
                </div>
            </div>
            <div class="card-body ">
                <form asp-action="Import">
                    <div class="text-success">@ViewData["Resultado"]</div>
                    <div class="text-danger">@ViewData["Error"]</div>
                    <input type="hidden" asp-for="DownloadFile.Id" />
                    <div class="col-md-12">
                        <select asp-for="DownloadFileDescription.Id" class="selectpicker col-sm-10" data-size="7" data-style="btn btn-primary btn-round" title="Select Description" required>
                            @foreach (var item in Model.DownloadFileDescriptions)
                            {
                                @if (item.CommandExecuted == 0)
                                {
                                    <option value="@item.Id">@item.Period.Course.Name @item.Period.Semester.Name - @item.NamePage - Pagina: @item.PageNumber </option>
                                }
                                else
                                {
                                    <option style="background: #eee" value="@item.Id">@item.Period.Course.Name @item.Period.Semester.Name - @item.NamePage - Pagina: @item.PageNumber </option>
                                }
                            }
                        </select>
                        <span asp-validation-for="DownloadFileDescription.Id" class="text-danger"></span>
                    </div><br />
                    @foreach (var item in Model.DownloadFileDescriptions)
                    {
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label asp-for="DownloadFile.Path"></label>
                                <input asp-for="DownloadFile.Path" value="@item.DownloadFile.Path" readonly="readonly" class="form-control" />
                                <span asp-validation-for="DownloadFile.Path" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label asp-for="DownloadFile.NameFile"></label>
                                <input asp-for="DownloadFile.NameFile" value="@item.DownloadFile.NameFile" readonly="readonly" class="form-control" />
                                <span asp-validation-for="DownloadFile.NameFile" class="text-danger"></span>
                            </div>
                        </div>
                        break;
                    }
                    <div class="form-group">
                        <hr />
                        <input type="submit" value="Executed File" class="btn btn-info" />
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary" data-dismiss="modal">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>