@model ImportDataFormViewModel
@{
    ViewData["Title"] = "Send File";
}
<div class="row">
    <div class="col-md-10 mr-auto ml-auto">
        <div class="card ">
            <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                    <h4 class="card-title">@ViewData["Title"]</h4>
                </div>
            </div>
            <div class="card-body ">
                @if (ViewData["Erro"] == null && ViewData["Resultado"] == null)
                {
                    <form method="post" enctype="multipart/form-data" asp-controller="ImportData" asp-action="SendFile">
                        <div class="text-center">
                            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                <div class="fileinput-new thumbnail">
                                    <img src="~/lib/img/image_placeholder.jpg" alt="...">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                <div>
                                    <span class="btn btn-rose btn-round btn-file">
                                        <span class="fileinput-new">Select File</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" name="files" /> @*multiple*@
                                    </span>
                                    <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                                </div>
                            </div>
                        </div><div class="col-sm-7">
                            <div class="form-group">
                                <label asp-for="DownloadFile.TypeFile"></label>
                                <input asp-for="DownloadFile.TypeFile" value="@TypeFile.System_xlsx" class="form-control" readonly />
                                <span asp-validation-for="DownloadFile.TypeFile" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label asp-for="DownloadFile.PageNumbers"></label>
                                <input asp-for="DownloadFile.PageNumbers" value="1" class="form-control" readonly />
                                <span asp-validation-for="DownloadFile.PageNumbers" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <hr />
                            <input id="MySubmitSendFile" type="submit" value="Send File" class="btn btn-info" />
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary" data-dismiss="modal">Back to List</a>
                        </div>
                    </form>
                }
                else if (ViewData["Erro"] != null)
                {
                    <center>
                        <h2>Result</h2>
                        <h4><code>@ViewData["Erro"]</code></h4>
                    </center>
                }
                else if (ViewData["Resultado"] != null)
                {
                    <center>
                        <h2>Result</h2>
                        <h4><code>@ViewData["Resultado"]</code></h4>
                        <h4><code>@ViewData["Resultados"]</code></h4>
                    </center>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}