@model CertificateFormViewModel
@{
    ViewData["Title"] = "Certificados";
}

<div class="row">
    <div class="col-md-12 mr-auto ml-auto">
        <div class="card ">
            <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                    <h4 class="card-title">@ViewData["Title"]</h4>
                </div>
            </div>
            <div class="card-body ">

                <!--Start-->
                <p>
                    <a asp-action="Register" class="btn btn-outline-primary btn-lg">Create New</a>
                </p>
                <div class="toolbar">
                    <!--        Here you can write extra buttons/actions for the toolbar              -->
                </div>
                <div class="material-datatables">
                    <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.CertificateCourse.Company.FantasyName)</th>
                                <th>@Html.DisplayNameFor(model => model.CertificateCourse.NameCourse)</th>
                                <th>@Html.DisplayNameFor(model => model.CertificateCourse.NameSignature)</th>
                                <th>@Html.DisplayNameFor(model => model.CertificateCourse.Hour)</th>
                                <th>@Html.DisplayNameFor(model => model.CertificateCourse.InitialDate)</th>
                                <th>@Html.DisplayNameFor(model => model.CertificateCourse.FinalDate)</th>
                                <th class="disabled-sorting text-right">Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.CertificateCourse.Company.FantasyName)</th>
                                <th>@Html.DisplayNameFor(model => model.CertificateCourse.NameCourse)</th>
                                <th>@Html.DisplayNameFor(model => model.CertificateCourse.NameSignature)</th>
                                <th>@Html.DisplayNameFor(model => model.CertificateCourse.Hour)</th>
                                <th>@Html.DisplayNameFor(model => model.CertificateCourse.InitialDate)</th>
                                <th>@Html.DisplayNameFor(model => model.CertificateCourse.FinalDate)</th>
                                <th class="disabled-sorting text-right">Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model.CertificateCourses)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Company.FantasyName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NameCourse)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NameSignature)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Hour)h.
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InitialDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FinalDate)
                                    </td>
                                    <td class="text-right">
                                        <a asp-controller="Certificates" asp-action="Index" asp-route-id="@item.Id" class="btn btn-link btn-success btn-just-icon edit"><i class="material-icons">add_box</i></a>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-link btn-success btn-just-icon edit"><i class="material-icons">edit</i></a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-link btn-danger btn-just-icon remove" style="pointer-events: none;"><i class="material-icons">close</i></a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!--End-->
            </div>
        </div>
    </div>
</div>