@model CertificateFormViewModel
@{
    ViewData["Title"] = "Create Certificate";
}
<div class="row">
    <div class="col-md-6 mr-auto ml-auto">
        <div class="card ">
            <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                    <h4 class="card-title">@ViewData["Title"]</h4>
                </div>
            </div>
            <div class="card-body ">
                <!--Start-->
                <form asp-action="Register">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="col-lg-5 col-md-6 col-sm-3">
                        <select id="StudentListId" asp-for="CertificateCourse.CompanyId" class="selectpicker" data-size="7" data-style="btn btn-primary btn-round" title="Select Company">
                            <option disabled selected>Selecione Empresa</option>
                            @foreach (var item in Model.Companies)
                            {
                                <option value="@item.Id">@item.CorporateName - @item.FantasyName -CNPJ: @item.CNPJ</option>
                            }
                        </select>
                        <span asp-validation-for="CertificateCourse.CompanyId" class="text-danger"></span>
                    </div><br />
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="CertificateCourse.NameCourse"></label>
                            <input asp-for="CertificateCourse.NameCourse" class="form-control" />
                            <span asp-validation-for="CertificateCourse.NameCourse" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="CertificateCourse.NameSignature"></label>
                            <input asp-for="CertificateCourse.NameSignature" class="form-control" />
                            <span asp-validation-for="CertificateCourse.NameSignature" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="CertificateCourse.NameCPF"></label>
                            <input asp-for="CertificateCourse.NameCPF" class="form-control" />
                            <span asp-validation-for="CertificateCourse.NameCPF" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="CertificateCourse.Hour"></label>
                            <input asp-for="CertificateCourse.Hour" class="form-control" />
                            <span asp-validation-for="CertificateCourse.Hour" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="CertificateCourse.Value"></label>
                            <input asp-for="CertificateCourse.Value" class="form-control" />
                            <span asp-validation-for="CertificateCourse.Value" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="CertificateCourse.Amount"></label>
                            <input asp-for="CertificateCourse.Amount" class="form-control" />
                            <span asp-validation-for="CertificateCourse.Amount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="CertificateCourse.InitialDate"></label>
                            <input asp-for="CertificateCourse.InitialDate" class="form-control" />
                            <span asp-validation-for="CertificateCourse.InitialDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="CertificateCourse.FinalDate"></label>
                            <input asp-for="CertificateCourse.FinalDate" class="form-control" />
                            <span asp-validation-for="CertificateCourse.FinalDate" class="text-danger"></span>
                        </div>
                    </div>
                    <hr />
                    <div class="material-datatables">
                        <table class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                            <thead>
                                <tr>
                                    <th>
                                        <label asp-for="CertificateProgrammatic.ProgrammaticContent" class="form-check-label"></label>
                                        <input id="DateDueId" asp-for="CertificateProgrammatic.ProgrammaticContent" class="form-control" />
                                    </th>
                                    <th>                                       
                                        <button style="float:right;" class="btn btn-link btn-info btn-just-icon" type="button" id="ButtonAddBillet" onclick="AddBillet()" disabled="disabled"><i class="material-icons">add_box</i></button>
                                    </th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.CertificateProgrammatic.ProgrammaticContent)</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                            <tbody id="BilletValuesId"></tbody>
                            <tbody id="BilletValuesTotalId"></tbody>
                        </table>
                    </div>
                    <textarea style="display:none;" id="BilletValues"></textarea>
                    <div class="form-group">
                        <hr />
                        <input type="submit" value="Create" class="btn btn-info" />
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary" data-dismiss="modal">Back to List</a>
                    </div>
                </form>
                <!--End-->
            </div>
        </div>
    </div>
</div>