@model Patrimony
@{
    ViewData["Title"] = "Create New Patrimony";
}
<div class="row">
    <div class="col-md-6 mr-auto ml-auto">
        <div class="card ">
            <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                    <h4 class="card-title">@ViewData["Title"]</h4>
                </div>
            </div>
            <div class="card-body ">
                <!--Start-->
                <form asp-action="Create">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="text-danger">@ViewData["Error"]</div>
                    <div class="col-lg-10 col-md-6 col-sm-3">
                        <select asp-for="CategoryId" class="selectpicker" data-size="7" data-style="btn btn-primary btn-round" title="Select Sector">
                            <option disabled selected>Select Name</option>
                            @foreach (var item in Model.Categories)
                            {
                                <option value="@item.Id">@item.Place.Company.FantasyName @item.Place.Name - Local: @item.Name</option>
                            }
                        </select>
                    </div><br />
                    <div class="col-lg-10 col-md-6 col-sm-3">
                        <select asp-for="SubCategoryId" class="selectpicker" data-size="7" data-style="btn btn-primary btn-round" title="Select Sector">
                            <option disabled selected>Select Name</option>
                            @foreach (var item in Model.SubCategories)
                            {
                                <option value="@item.Id">@item.Name @item.Description</option>
                            }
                        </select>
                    </div><br />
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="Quantity"></label>
                            <input asp-for="Quantity" class="form-control" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="LowQuantity"></label>
                            <input asp-for="LowQuantity" class="form-control" />
                            <span asp-validation-for="LowQuantity" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <hr />
                        <input type="submit" value="Create" class="btn btn-info" />
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary" data-dismiss="modal">Back to List</a>
                    </div>
                </form>
                <!--End-->
            </div>
        </div>
    </div>
</div>