@model UserClaimsFormViewModel
@{
    ViewData["Title"] = "Create New Login";
}
<div class="row">
    <div class="col-md-6 mr-auto ml-auto">
        <div class="card ">
            <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                    <h4 class="card-title">@ViewData["Title"]</h4>
                </div>
            </div>
            <div class="card-body ">
                <!--Start-->
                <form asp-action="Edit">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="text-danger">@ViewData["Error"]</div>
                    <input type="hidden" asp-for="UserId" />
                    @for (int i = 0; i < Model.Cliams.Count; i++)
                    {
                        if (Model.Cliams[i].ClaimType == "TimePoint")
                        {
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="hidden" asp-for="@Model.Cliams[i].ClaimType">
                                    <input class="form-check-input" asp-for="@Model.Cliams[i].IsSelected"> @Model.Cliams[i].ClaimName
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label label-checkbox"></label>
                                <div class="col-sm-10 checkbox-radios">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio" value="1" asp-for="@Model.Cliams[i].ClaimValue"> Criar
                                                <span class="circle">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </label>
                                    </div>
                                </div>
                            </div><br /><hr /><br />
                        }
                        else
                        {
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="hidden" asp-for="@Model.Cliams[i].ClaimType">
                                    <input class="form-check-input" asp-for="@Model.Cliams[i].IsSelected"> @Model.Cliams[i].ClaimName
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                            <div class="row">
                                <label class="col-sm-2 col-form-label label-checkbox"></label>
                                <div class="col-sm-10 checkbox-radios">
                                    <div class="form-check form-check-inline">
                                        <label class="form-check-label">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio"  value="1" asp-for="@Model.Cliams[i].ClaimValue"> Criar
                                                <span class="circle">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio"  value="2" asp-for="@Model.Cliams[i].ClaimValue"> Criar e Editar
                                                <span class="circle">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="radio"  value="3" asp-for="@Model.Cliams[i].ClaimValue"> Criar Editar e Deletar
                                                <span class="circle">
                                                    <span class="check"></span>
                                                </span>
                                            </label>
                                        </label>
                                    </div>
                                </div>
                            </div><br /><hr /><br />
                        }
                    }
                    <!---------------------------------------------------------------------------------------------------------------------->
                    <div class="form-group">
                        <br /><hr />
                        <input type="submit" value="Save" class="btn btn-info" />
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary" data-dismiss="modal">Back to List</a>
                    </div>
                </form>
                <!--End-->
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}