@model HistoricPatrimony
@{
    ViewData["Title"] = "Create New Sectors";
}
<div class="row">
    <div class="col-md-6 mr-auto ml-auto">
        <div class="card ">
            <div class="card-header card-header-rose card-header-text">
                <div class="card-text">
                    <h4 class="card-title">@ViewData["Title"]</h4>
                </div>
            </div>
            <div class="card-body ">
                <!--Start-->
                <form asp-action="Register">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="col-lg-5 col-md-6 col-sm-3">
                        <select asp-for="LowPatrimony" asp-items="@LowPatrimony.Maintenance.ToSelectList()" class="selectpicker" data-size="7" data-style="btn btn-primary btn-round" title="Low Patrimony">
                            <option selected value="">Low Patrimony</option>
                        </select>
                        <span asp-validation-for="LowPatrimony" class="text-danger"></span>
                    </div><br />
                    <div class="col-lg-5 col-md-6 col-sm-3">
                        <select id="StudentListId" asp-for="PatrimonyId" class="selectpicker" data-size="7" data-style="btn btn-primary btn-round" title="Select Sector">
                            <option disabled selected>Select Name</option>
                            @foreach (var item in Model.Patrimonies)
                            {
                                <option value="@item.Id">@item.KeyPatrimony @item.Product.Name - Local: @item.Place.Company.FantasyName - @item.Place.Name</option>
                            }
                        </select>
                        <span asp-validation-for="PatrimonyId" class="text-danger"></span>
                    </div><br />
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="Description"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group">
                            <label asp-for="DateDescription"></label>
                            <input asp-for="DateDescription" class="form-control" />
                            <span asp-validation-for="DateDescription" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <hr />
                        <input type="submit" value="Create" class="btn btn-info" />
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary" data-dismiss="modal">Back to List</a>
                    </div>
                </form>
                <!--End-->
            </div>
        </div>
    </div>
</div>